---
import heroImg from "../assets/images/hero-img-webp.webp"
---

<section id="hero-section" class="w-full h-[88vh] mx-auto p-4 bg-linear-to-b from-[#fff4e7] to-white flex flex-col min-[100vh]:flex-row-reverse justify-center items-center gap-3">
    <img src={heroImg.src} alt="Mujer joven con una bolsa de compras que dice Locally" class="h-[45vh] min-[100vh]:h-full w-full max-w-[50vh] pt-[7vh] object-contain">
    <div id="hero-text" class="h-[40vh] min-[100vh]:h-full w-full min-[100vh]:w-[50vh] min-[100vh]:pt-[17vh] flex flex-col justify-center items-center gap-3 min-[100vh]:gap-[3vh]">
        <h1 class="w-full text-[12vw] min-[50vh]:text-[6.5vh] font-poppins font-bold text-gray-800 text-center min-[100vh]:text-left">Promos de tu <span class="text-orange-400">Barrio</span></h1>
        <h2 class="w-full px-2 text-center text-[4.5vw] min-[50vh]:text-[2.5vh] text-gray-600">Descubrí grandes oportunidades cerca tuyo, en tus locales de siempre.</h2>
        <a href="/" class="w-[50vw] min-[50vh]:w-[25vh] h-[5.5vh] px-4 flex justify-center items-center bg-orange-400 rounded-full text-white text-[4.5vw] min-[50vh]:text-[2.25vh] shadow-md shadow-amber-800/80" >Ver Promos</a>   
    </div>
</section>