---
import logo from "../assets/images/locally-logo.webp"
---

<nav id="topbar" class="fixed inset-0 w-full h-[7vh] flex justify-center items-center ">
    <div class="w-full max-w-7xl mx-auto py-2 px-4 grid grid-cols-[max-content_max-content_1fr] gap-3">
        <span class="font-imperial text-2xl font-bold text-orange-500">Locally</span>
        <div class="w-max px-2 py-1 h-max bg-orange-400/15 text-xs text-orange-500 rounded-full">Villa del Parque</div>
    </div>
    <!-- <a href="/tiendas" class="h-9 w-max px-2 flex justify-center items-center rounded-lg  bg-amber-100 text-yellow-950 text-sm border border-amber-200 shadow-xs shadow-amber-950/20 justify-self-end">Soy Comerciante</a> -->
</nav>